* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.layout {
  display: flex;
  /* min-height: 100vh; */
  /* background-color: rgba(224, 224, 212, 0.778); */
}
.navbar {
  padding-top: 10px;
  width: 25%;
  border-radius: 1px 1px 1px 1px;
  /* background-color: rgba(224, 224, 212, 0.778); */
}
.navbar ul {
  display: flex;
  flex-direction: column;
  color: black;
  /* height: auto; */
  margin: 15px;
  justify-content: flex-start;
  gap: 13px;
  text-align: start;
  align-items: stretch; /* ⭐ THIS */
  font-size: 20px;
}

.section {
  text-align: start;
  font-weight: bold;
}

.navbar ul li {
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
}
input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 20px;
  border: 0;
}
hr {
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
  margin: 12px 0;
}

/* Container */

.container {
  display: flex;
  flex: 1;
  /* box-shadow: 10px 2px 5px 2px; */
  align-items: center;
  height: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

.icon {
  font-size: 1.5rem;
}

input[type="search"] {
  width: 100%;
}

.search {
  position: relative;
}

.search input {
  width: 500px;
  height: 35px;
  border-radius: 20px;
  padding: 0 40px 0 15px; /* right padding icon ke liye */
  /* border: none; */
  /* outline: none; */
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  padding-left: 5px;
  border-left: 2px solid black;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
.mic {
  font-size: 20px;
  cursor: pointer;
}

.moon {
  margin-left: auto; /* ⭐ MAGIC */
  font-size: 20px;
  cursor: pointer;
}

/* contents */
.content {
  display: flex;
  flex: 1;
  padding-top: 10px;
  justify-content: center;
}
.content ul {
  display: flex;
  height: auto;
  /* flex-direction: row; */
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 20px;
}
.tech {
  margin-top: 15px;
  background-color: rgb(238, 231, 231);
  color: black;
  /* box-shadow: 1px 1px 1px 1px; */
  text-align: center;
  margin: 5px;
  padding: 5px;
  list-style: none;
  border-radius: 8px;
}
#all {
  background-color: black;
  color: white;
}

/* Cards */

.content,
.card {
  flex: unset;
}
.cards {
  margin-top: 0;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 0 3px;
}

.item {
  border-radius: 10px;
  height: 250px;
  margin-bottom: 10px;
  width: 400px;
}
.pro {
  display: flex;
  width: 99%;
}
.pro i {
  font-size: 2.4rem;
}
.item p i {
  margin-top: 2px;
}
.item video {
  /* border-radius: 10px; adjust the value as you like */
  overflow: hidden; /* ensures content doesn't spill outside corners */
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;

}
video {
  transform: scale(0.95);
}

.item p {
  margin-left: 5px;
}

footer {
  color: gray;
  background-color: black;
}
